#title,
#description {
  text-align: center;
}

.d3-tip {
  background-color: gray;
  border-radius: 6px;
  color: white;
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}

svg .counties .county:hover {
  stroke: black;
}